.kodfun-galeri{
    display: flex;
    height: 20rem;
    gap:1rem
}
.kodfun-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.kodfun-galeri > div:hover{
    flex: 5;
}
body{
   background:linear-gradient(rgba(53, 121, 247, 0.463), rgba(205, 244, 197, 0.5));;
   
}
h1{
    color:rgb(56, 61, 63);
    text-align:center;
}
h6{
    color:rgb(16, 14, 0);
    text-align:center;
}